.product {
    border: 1px solid #95a095;
    border-radius: 10px;
    position: relative;
}

.product .img img {
    height: 280px;
    width: 280px;
    border-radius: 10px;
}

.product .img {
    padding: 5px 5px 0;

}

.content {
    padding: 0 10px 10px;
    margin: 7px 0;
    margin-bottom: 50px;
}

.content p {
    margin-top: 5px;
}



.btn-cart {
    width: 100%;
    border: 0;
    border-radius: 0 0 10px 10px;
    background-color: #ffe0b3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 14px;
    font-size: 18px;
}

.btn-cart span {
    margin-left: 10px;
}

.btn-cart:hover {
    background: orange;
}